@redColor:#fb3d3d;
@font-size:14px;
@wid:100%;
@width:1024px;
//color
@loginColor:#9ac600;

//font color
@white:#fff;
@gray:#b0b0b0;
@fontColor:#333;
//black color
@black:#252525;

//������ɫ
@allColor:#3b8ede;

//左侧导航栏背景色
@leftBgColor:#eeeff3;

//头部导航hover颜色
@headHoverColor:#bef513;

//右页面头部字体蓝色
@color-blue:#2e84c2;

//右页面头部字体灰色
@color-grey:#515151;

//左侧导航栏模块背景色
@leftMenuColor:#99c700;

//特殊数字颜色
@orange:#fd7d00;
@green:#6daf38;