<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>
双向转诊医疗平台
</title>
<link href="../../lib/boot/bootstrap.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="../../lib/boot/bootstrap-ie6.min.css">
<link rel="stylesheet" type="text/css" href="../../lib/ie.css">

<script src="../../lib/boot/bootstrap.min.js"></script>
<script src="../../lib/jquery-1.11.1.min.js"></script>
</head>
<body id="a">
	
	<script src="tpl/build/template.js"></script>
	<script>
		var data = {
			currentPage: "1",
			pages: "3",
			list: [
				{
					className: "bclliclick",
					id: "1",
					title: '会诊记录',
					doctor: '试试',
					num: "a92ca1ac-e97e-46bd-956d-a9932d137d8c",
					time: "2015-05-07 13:26:46"
				},
				{
					className: '',
					id: "2",
					title: '会诊记录',
					doctor: '试试',
					num: "a92ca1ac-e97e-46bd-a9932d137d8c",
					time: "2015-05-07 13:26:46"
				},
				{
					className: '',
					id: "3",
					title: '会诊记录',
					doctor: '试试',
					num: "a92ca1ac-46bd-956d-a9932d137d8c",
					time: "2015-05-07 13:26:46"
				}
			],
			msg: [
				{
					id: "1",
					zt: "list-item",
					title: '会诊记录',
					doctor: '试试',
					num: "a92ca1ac-46bd-956d-a9932d137d8c",
					time: "2015-05-07 13:26:46",
					msg: '患者因“子宫内膜癌术后5周，入院放疗”于2015年05月07日入院。患者现一般情况尚可，无阴道不规则流血，无腹痛腹胀，胃纳睡眠尚可，大小便无殊。查体：神志清，精神软。双腹股沟及全身浅表淋巴结未及肿大。两肺呼吸音粗，未及明显干湿性罗音，心律齐，响度中等，未闻及杂音，腹平软，可见一约20cm的手术疤痕，愈合可，无压痛、反跳痛，未及肿块，肝脾肋下未及，移动性浊音阴性，双肾区无叩痛，双下肢无浮肿，神经系统体征阴性。辅助检查：2015-05-07查住院尿常规：镜检白细胞 1+/HP，白细胞(定量) 51.4μl。颈部B超示：双侧甲状腺结节；双侧颈部未见明显肿大淋巴结；右侧颈部低回声结节。腹部B超示：肝、胆、脾、胰、双肾未见明显异常。今邱铁刚主治医师查房后分析，患者确诊为子宫内膜癌，有病理诊断，无需鉴别，已完成手术治疗，根据患者术后病理，肿瘤已浸润至深肌层，需予术后放疗治疗，今日先予CT下模拟定位，近日开始予放疗，余待观。'
				},
				{
					id: "2",
					zt: "none",
					title: '会诊记录',
					doctor: '试试',
					num: "a92ca1ac-46bd-956d-a9932d137d8c",
					time: "2015-05-07 13:26:46",
					msg: '患者因“子宫内膜癌术后5周，入院放疗无阴道不规则流血，无腹痛腹胀，胃纳睡眠尚可，大小便无殊。查体：神志清，精神软。双腹股沟及全身浅表淋巴结未及肿大。两肺呼吸音粗，未及明显干湿性罗音，心律齐，响度中等，未闻及杂音，腹平软，可见一约20cm的手术疤痕，愈合可，无压痛、反跳痛，未及肿块，肝脾肋下未及，移动性浊音阴性，双肾区无叩痛，双下肢无浮肿，神经系统体征阴性。辅助检查：2015-05-07查住院尿常规：镜检白细胞 1+/HP，白细胞(定量) 51.4μl。颈部B超示：双侧甲状腺结节；双侧颈部未见明显肿大淋巴结；右侧颈部低回声结节。腹部B超示：肝、胆、脾、胰、双肾未见明显异常。今邱铁刚主治医师查房后分析，患者确诊为子宫内膜癌，有病理诊断，无需鉴别，已完成手术治疗，根据患者术后病理，肿瘤已浸润至深肌层，需予术后放疗治疗，今日先予CT下模拟定位，近日开始予放疗，余待观。'
				},
				{
					id: "3",
					zt: "none",
					title: '会诊记录',
					doctor: '试试',
					num: "a92ca1ac-46bd-956d-a9932d137d8c",
					time: "2015-05-07 13:26:46",
					msg: '平软，可见一约20cm的手术疤痕，愈合可，无压痛、反跳痛，未及肿块，肝脾肋下未及，移动性浊音阴性，双肾区无叩痛，双下肢无浮肿，神经系统体征阴性。辅助检查：2015-05-07查住院尿常规：镜检白细胞 1+/HP，白细胞(定量) 51.4μl。颈部B超示：双侧甲状腺结节；双侧颈部未见明显肿大淋巴结；右侧颈部低回声结节。腹部B超示：肝、胆、脾、胰、双肾未见明显异常。今邱铁刚主治医师查房后分析，患者确诊为子宫内膜癌，有病理诊断，无需鉴别，已完成手术治疗，根据患者术后病理，肿瘤已浸润至深肌层，需予术后放疗治疗，今日先予CT下模拟定位，近日开始予放疗，余待观。'
				}
			]
		};
		document.getElementById('a').innerHTML = template('record-disease',data);
	</script>

	<script type="text/javascript" src="../js/record-disease.js"></script>
</body>
</html>
