<!-- 侧边栏底部开始 -->

<div class="g-leftfoot">
	<div style="line-height:25px;">
		<a href="http://test.zzpt.zwjk.com/hospitals/hosmenu.htm#" style="float:left;">关于我们</a><a href="http://test.zzpt.zwjk.com/hospitals/hosmenu.htm#" style="float:right;">联系我们</a>
	</div>
	<div style="line-height:25px;clear:both;">
		<a href="http://test.zzpt.zwjk.com/hospitals/hosmenu.htm#" style="float:left;">免费声明</a><a href="http://test.zzpt.zwjk.com/hospitals/hosmenu.htm#" style="float:right;">版权所有</a>
	</div>
	<div id="Copyright" style="color:#747475;font-size:10px;clear:both;text-align:left;">Copyright © 2016.<br>杭州卓健信息科技有限公司</div>
</div>
<div id="screen"></div>

<!-- 侧边栏底部结束 -->