<div class="g-login-nr">
	<img class="m-page_top" src="../images/login/page4_top.png">
	<div class="m-page4_leftall">
		<img class="page4_left_top" src="../images/login/page4_left_top.png">
		<div class="page4_left_nr">
			<img class="page4_leftnr_1" src="../images/login/page4_leftnr_1.png">
			<img class="page4_leftnr_2" src="../images/login/page4_leftnr_2.png">
			<img class="page4_leftnr_3" src="../images/login/page4_leftnr_3.png">
			<img class="page4_leftnr_4" src="../images/login/page4_leftnr_4.png">
			<img class="page4_leftnr_5" src="../images/login/page4_leftnr_5.png">
			<img class="page4_leftnr_6" src="../images/login/page4_leftnr_6.png">
		</div>
	</div>
	<img class="page4_right" src="../images/login/page4_right.png">
</div>