<div class="page6_nr">
	<div class="page6nr">
		<img class="page6_nr_1" src="../images/login/page6_nr_1.png">
		<img class="page6_nr_2" src="../images/login/page6_nr_2.png">
		<img class="page6_nr_3" src="../images/login/page6_nr_3.png">
		<img class="page6_nr_4" src="../images/login/page6_nr_4.png">
		<img class="page6_nr_5" src="../images/login/page6_nr_5.png">
	</div>
</div>
<a href="http://yyzz.ylxz.zwjk.com/lowerHospital/apply.htm" target="_blank"><div class="page6_bottomnr">申请加入 &gt;</div></a>

<div class="page6_bottom">
	<div class="footnr">
		<a>关于我们</a>
		|
		<a>联系我们</a>
		|
		<a>免责声明</a>
		|
		<a>友情链接</a>
		<br>
	</div>
	<span>版权所有 Copyright © 2016. 杭州卓健信息科技有限公司    ICP:浙B2-20110422</span>
</div>